<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-primary fixed-top">
  <a href="{{ "." | absURL }}" aria-label="OpenScope">
    <img class="navbar-brand d-none d-lg-block d-xl-block mx-2" src="{{ "assets/images/openscope-white.png" | absURL }}" alt="OpenScope" title="OpenScope" />
    <img class="navbar-brand d-lg-none d-xl-none mx-2" src="{{ "assets/images/openscope-logo-white.png" | absURL }}" alt="OpenScope" title="OpenScope" />
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="{{ "projects.html" | absURL }}">
          <span class="d-block d-sm-none glyphicon glyphicon-tasks" title="Projektek"></span>
          <span class="d-none d-sm-block">Projektek</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "work.html" | absURL }}">
          <span class="d-block d-sm-none glyphicon glyphicon-tasks" title="Munka"></span>
          <span class="d-none d-sm-block">Munka</span>
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="https://otrs.fsf.hu/otrs/public.pl?Action=PublicFAQExplorer;CategoryID=8">
          <span class="d-block d-sm-none glyphicon glyphicon-education" title="Tananyag"></span>
          <span class="d-none d-sm-block">Tananyag</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://otrs.fsf.hu/otrs/public.pl?Action=PublicFAQExplorer;CategoryID=7">
          <span class="d-block d-sm-none glyphicon glyphicon-user" title="Fordítók"></span>
          <span class="d-none d-sm-block">Fordítók</span>
        </a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{{ "glossary.html" | absURL }}">
          <span class="d-block d-sm-none glyphicon glyphicon-book" title="Szótár"></span>
          <span class="d-none d-sm-block">Szótár</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "bugreport.html" | absURL }}">
          <span class="d-block d-sm-none glyphicon glyphicon-envelope" title="Hibajelentés"></span>
          <span class="d-none d-sm-block">Hibajelentés</span>
        </a>
      </li>
    </ul>
  </div>

  <!--<ul class="navbar-nav ml-md-auto d-none d-md-block">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Belépés</a>
      <div class="dropdown-menu dropdown-menu-right navbar-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="https://otrs.fsf.hu/otrs/customer.pl">Bejelentőként</a>
        <a class="dropdown-item" href="https://otrs.fsf.hu/otrs/index.pl">Megoldóként</a>
      </div>
    </li>
  </ul>-->
</header>
