<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi">
<link rel="shortcut icon" href="{{ "assets/images/openscope-logo.svg" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/glyphicons.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/overrides.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/openscope.css" | absURL }}" />
<title>OpenScope | magyar szabad szoftver honosítók közössége</title>
