---
title: ""
date: 2019-06-01T18:18:28+02:00
draft: false
---
<div class="row">
  <div class="col-md-6">
    <h1 class="text-center text-md-left">Koordinált honosítás</h1>
    <p>
      Az oldal legfontosabb feladata a szabad szoftverek magyar honosításával kapcsolatos teendők összefogása, és új tagok toborzása.
      Ha te is részt szeretnél venni a munkánkban, akkor csatlakozz bátran!
    </p>
  </div>
  <div class="col-md-6 text-center">
    <img src="{{< staticref "assets/images/openscope.png" >}}" alt="OpenScope" title="OpenScope" style="max-width: 405px; width: 100%; padding: 35px 10px 10px;"/>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12" style="display: border-block;">
    <h2 class="text-center text-md-left">Szolgáltatások és kapcsolat</h2>
    <p>
      A projekt kerétében ezen az oldalon több szolgáltatást üzemeltetünk, ezek a következőek:
      <ul>
        <li><b>Hibabejelentő rendszer</b> – OTRS-alapú jegykezelő rendszer, szabad szoftveres projektben található hibák bejelentése, kezelése és követése</li>
        <li><b>KanBan tábla</b> – az aktuális munka, és a várakozó feladatok nyomon követése</li>
        <li><b>OpenScope szótár</b> – terminológiai szótár, szoftverprojektekre kihegyezve</li>
      </ul>
    </p>
    <p>
      Kommunikációhoz a Telegramot és az <em>#openscope:grin.hu</em> Matrix-szobát használjuk, csatlakozzatok a csevegéshez.
      Emellett rendelkezünk hivatalos Facebook oldallal is.
    </p>
    <p>
      <a href="https://t.me/joinchat/DIfJOgiG22VjI1f616aZWA" class="btn btn-telegram" role="button">Telegram &raquo;</a>
      <a href="https://matrix.to/#/#openscope:grin.hu" class="btn btn-element" role="button">Matrix &raquo;</a>
      <a href="https://www.facebook.com/openscope.org/" class="btn btn-facebook" role="button">Facebook oldal &raquo;</a>
    </p>
  </div>
</div>

<hr>

<!-- <div class="row">
  <div class="col-md-4 col-sm-12">
    <h3 class="text-center text-md-left">Olvasd el a tananyagot</h3>
    <p>
      A fordításhoz nem angolul kell jól tudni, hanem magyarul.
      Az sem mindegy, hogy „kőbaltával” fordítunk, vagy fordítómemóriával ellátott többfunkciós programmal.
      Itt fogod megtalálni, hogy hogyan kell fordítani és melyik a javasolt program erre a célra.
    </p>
    <p>
      <a class="btn btn-primary" href="https://otrs.fsf.hu/otrs/public.pl?Action=PublicFAQExplorer;CategoryID=8" role="button">Tananyag elolvasása &raquo;</a>
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <h3 class="text-center text-md-left">Válassz csapatot</h3>
    <p>
      Az lenne a legjobb, ha egy általad is használt program, projekt fordításában segítenél.
      De ha teljesen mindegy, hogy mit fordítasz, itt akkor is meg fogod találni a számodra megfelelő projektet.
      Ha elolvastad a tananyagot, akkor válassz egy projektet.
    </p>
    <p>
      <a class="btn btn-primary" href="https://otrs.fsf.hu/otrs/public.pl?Action=PublicFAQExplorer;CategoryID=6" role="button">Projektek megtekintése &raquo;</a>
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <h3 class="text-center text-md-left">Beszélj a koordinátorral</h3>
    <p>
      Minden csapatnak van egy koordinátora, aki az adott projekt fordításáért felel.
      Sok mindent lehet fordítani, de mindig van, ami prioritást élvez.
      Keresd meg a koordinátort, beszélj vele, és kérj tőle feladatot.
    </p>
    <p>
      <a class="btn btn-primary" href="https://otrs.fsf.hu/otrs/public.pl?Action=PublicFAQExplorer;CategoryID=7" role="button">Fordítók megtekintése &raquo;</a>
    </p>
  </div>
</div> -->

{{< scriptref src="assets/js/jquery.min.js" >}}
{{< scriptref src="assets/js/popper.min.js" >}}
{{< scriptref src="assets/js/bootstrap.min.js" >}}

