---
title: "Hibajelentés"
date: 2022-03-31T15:24:30+02:00
draft: false
---
<div class="row">
  <div class="col-md">
    <h1>Hibajelentés</h1>
    <hr>
    <p>
      Ha ismert és használsz olyan szabad szoftvereket, melyek nem beszélnek magyarul, vagy hibát találtál egy szabad szoftver magyar fordításában,
      akkor az OpenScope a legjobb hely, ahol ezt bejelentheted.<br>
      A bejelentésnek több módja is van, ezek a következőek:
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h3>E-mailben</h3>
    <p>
      Egyszerűen küldj egy levelet a <a class="text-info" href="mailto:openscope@fsf.hu">openscope@fsf.hu</a> címre. Visszajelzünk, ha további kérdésünk van, vagy megoldottuk a problémát.
    </p>
    <p>
      <a role="button" class="btn btn-dark" href="mailto:openscope@fsf.hu">Üzenet küldése &raquo;</a>
    </p>
  </div>
  <div class="col-md">
    <h3>Csevegőüzenetben</h3>
    <p>
      Ha kényelmesebb, akkor a főoldalon id látható Telegram és Matrix-szobánkban is küldhetsz bejelentést.
    </p>
	<p>
	  <a href="https://t.me/joinchat/DIfJOgiG22VjI1f616aZWA" class="btn btn-telegram" role="button">Telegram »</a>
      <a href="https://matrix.to/#/#openscope:grin.hu" class="btn btn-element" role="button">Matrix »</a>
	</p>
  </div>
</div>


{{< scriptref src="assets/js/jquery.min.js" >}}
{{< scriptref src="assets/js/popper.min.js" >}}
{{< scriptref src="assets/js/bootstrap.min.js" >}}

