---
title: "Szótár"
date: 2019-06-01T18:49:37+02:00
draft: false
---
<div id="vapp" class="row justify-content-center">
	<form class="glossary form-horizontal col-md-12 col-lg-8">
		<div class="col">
			<div align="center">
				<img class="openscope-logo d-none d-lg-block" src="{{< staticref "assets/images/openscope-logo.svg" >}}" />
			</div>
			<div>
				<div class="input-group">
					<search-box class="form-control" placeholder="OpenScope keresés…" @searched="searched"></search-box>
					<div class="input-group-append">
						<span class="input-group-text">
							<img class="d-lg-none" src="{{< staticref "assets/images/openscope-logo.svg" >}}" />
							<span class="glyphicon glyphicon-search d-none d-lg-block" style="padding-bottom: 3px;"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<template v-if="items">
			<div class="glossary-item" v-for="item in items" :key="item.translation.id">
				<h3 class="glossary-title">
					<span>{{ item.word }}</span> <span class="part-of-speech">{{ item.partOfSpeech }}</span> &rarr; <span>{{ item.translation.word }}</span>
					<span v-if="item.translation.context" :class="`badge badge-${item.translation.contextClass}`">{{ item.translation.context }}</span>
				</h3>
				<p class="glossary-comment" v-html="item.translation.comment"></p>
			</div>
		</template>
	</form>
</div>

{{< scriptref src="assets/js/jquery.min.js" >}}
{{< scriptref src="assets/js/popper.min.js" >}}
{{< scriptref src="assets/js/bootstrap.min.js" >}}
{{< scriptref src="assets/js/showdown.min.js" >}}
{{< scriptref src="assets/js/vue.min.js" >}}
{{< scriptref src="assets/js/require.min.js" data-main="assets/js/glossary.js" >}}

