---
title: "Projektjeink"
date: 2019-06-01T18:45:32+02:00
draft: false
---
<h1 class="text-center text-md-left">Projektjeink</h1>
<hr>

<div class="row">
  <div class="col-md-5 project-logos">
    <img src="{{< staticref "assets/images/projects/gnome-logo.png" >}}" class="project-logo" alt="GNOME logo" title="GNOME logo"/><br>
    <img src="{{< staticref "assets/images/projects/gnome-laptop-small.png" >}}" class="project-logo" alt="GNOME asztali környezet" title="GNOME asztali környezet"/>
  </div>
  <div class="col-md-7">
    <h2 class="text-center text-md-left">GNOME asztali környezet</h2>
    <p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#gnome-description" aria-controls="gnome-description" role="tab" data-toggle="tab">Leírás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gnome-translation" aria-controls="gnome-translation" role="tab" data-toggle="tab">Fordítás menete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gnome-team" aria-controls="gnome-team" role="tab" data-toggle="tab">Csapat</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="gnome-description">
          <p>
            A GNOME az egyik legnagyobb asztali környezet a linuxos világban, és komponensei számos egyéb projektben megjelennek.
            A felület évek óta mindig 100%-osan magyar fordítással rendelkezik minden egyes kiadásban, de a dokumentációval korántsem állunk ilyen jól, szükség volna a segítségre.
          </p>
          <p>
            Ha szeretnél csatlakozni az erőfeszítéseinkhez, akkor jelentkezz a csapat tagjainál.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="gnome-translation">
          <p>
            A GNOME projekt saját fordítási platformot használ, amely a <em>Szemenszedett hazugságok</em> névre hallgat.
            Ez egy webalkalmazás, amely a statisztikát ad a fordítás állapotáról, illetve megkönnyíti a feladatok felosztását.
          </p>
          <p>
            A fordítási munka a projektben az egyes felatok lefoglalásából, a .PO fájlok letöltéséből, és a kész fordítások feltöltéséből áll.
            Maga a fordítási munka offline történik, a csapat tagjai a <b>Lokalize</b> és a <b>Poedit</b> programot használják, és ajánlják erre a célra.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="gnome-team">
          Jelenlegi csapattagok:
          <ul>
            <li>Kelemen Gábor &ndash; koordinátor</li>
            <li>Hammer Attila &ndash; jóváhagyó</li>
            <li>Úr Balázs &ndash; jóváhagyó</li>
            <li>Meskó Balázs &ndash; fordító</li>
          </ul>
        </div>
      </div>
    </p>
    <p>
      <div>
        <a href="https://gnome.org/" class="btn btn-primary">GNOME.org &raquo;</a>
        <a href="https://l10n.gnome.org/languages/hu/" class="btn btn-secondary">Honosítási csapat &raquo;</a>
      </div>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-5 order-md-last project-logos">
    <img src="{{< staticref "assets/images/projects/tp-laptop-small.png" >}}" class="project-logo mx-auto" alt="Translation Project" title="Translation Project" style="padding-top: 35px;"/>
  </div>
  <div class="col-md-7 order-md-first">
    <h2 class="text-center text-md-left">Translation Project</h2>
    <p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tp-description" class="nav-link active" aria-controls="tp-description" role="tab" data-toggle="tab">Leírás</a>
        </li>
        <li class="nav-item">
          <a href="#tp-translation" class="nav-link" aria-controls="tp-translation" role="tab" data-toggle="tab">Fordítás menete</a>
        </li>
        <li class="nav-item">
          <a href="#tp-team" class="nav-link" aria-controls="tp-team" role="tab" data-toggle="tab">Csapat</a>
        </li>
      </ul>
      
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tp-description">
          <p>
            A Translation Project számos, jellemzően parancssoros program fordítását fogja össze.
            Relatíve sok minden fordítása elkészült már, de még bőven akad tennivaló.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="tp-translation">
          <p>
            A fordítási munka itt is offline történik, a .PO fájlok letöltése után.
            A fordítások feltöltése viszont e-mailben történik, és egy robot ellenőrzi a beküldéseket.
          </p>
          <p>
            A fordítások beküldéséhez érdemes megkeresni a koordinátort, megkönnyítve az egyébként nehézkes folyamatot.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="tp-team">
          Jelenlegi csapat:
          <ul>
            <li>Úr Balázs &ndash; koordinátor</li>
            <li>Kelemen Gábor &ndash; fordító</li>
            <li>Kéménczy Kálmán &ndash; fordító</li>
            <li>Meskó Balázs &ndash; fordító</li>
            <li>Őry Máté &ndash; fordító</li>
          </ul>
        </div>
      </div>
    </p>
    <p>
      <div>
        <a href="https://translationproject.org/html/welcome.html" class="btn btn-primary">TranslationProject.org &raquo;</a>
        <a href="https://translationproject.org/team/hu.html" class="btn btn-secondary">Honosítási csapat &raquo;</a>
      </div>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-5 project-logos">
    <img src="{{< staticref "assets/images/projects/fedora-logo-small.png" >}}" class="project-logo" alt="Fedora logó" title="Fedora logó"/><br>
    <img src="{{< staticref "assets/images/projects/fedora-weblate-laptop-small.png" >}}" class="project-logo" alt="Fedora Weblate" title="Fedora Weblate"/>
  </div>
  <div class="col-md-7">
    <h2 class="text-center text-md-left">Fedora &ndash; Linux disztribúció</h2>
    <p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#fedora-description" aria-controls="fedora-description" role="tab" data-toggle="tab">Leírás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fedora-translation" aria-controls="fedora-translation" role="tab" data-toggle="tab">Fordítás menete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fedora-team" aria-controls="fedora-team" role="tab" data-toggle="tab">Csapat</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="fedora-description">
          <p>
            A Fedora projekt saját Weblate példányt futtat.
            A Fedora-specifikus szoftverek mellett jó néhány GNOME környezetben elterjedt szoftver is itt fordítható.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="fedora-translation">
          <p>
            A fordítási munka alapvetőn az online felületén történik, de a .PO fájlok le- és feltöltése is itt elérhető.
            A fordításhoz Fedora-fiókkal kell rendelkezni, ebben tudunk segíteni.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="fedora-team">
          Jelenlegi csapat:
          <ul>
            <li>Meskó Balázs &ndash; koordinátor</li>
          </ul>
        </div>
      </div>
    </p>
    <p>
      <div>
        <a href="https://translate.fedoraproject.org/" class="btn btn-primary">Fedora Weblate &raquo;</a>
        <a href="https://translate.fedoraproject.org/languages/hu/" class="btn btn-secondary">Honosítási csapat &raquo;</a>
      </div>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-5 order-md-last project-logos">
    <img src="{{< staticref "assets/images/projects/pontoon-laptop-small.png" >}}" class="project-logo mx-auto" alt="Mozilla Pontoon" title="Mozilla Pontoon" style="padding-top: 35px;"/>
  </div>
  <div class="col-md-7 order-md-first">
    <h2 class="text-center text-md-left">Mozilla Pontoon</h2>
    <p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#pontoon-description" class="nav-link active" aria-controls="pontoon-description" role="tab" data-toggle="tab">Leírás</a>
        </li>
        <li class="nav-item">
          <a href="#pontoon-translation" class="nav-link" aria-controls="pontoon-translation" role="tab" data-toggle="tab">Fordítás menete</a>
        </li>
        <li class="nav-item">
          <a href="#pontoon-team" class="nav-link" aria-controls="pontoon-team" role="tab" data-toggle="tab">Csapat</a>
        </li>
      </ul>
      
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pontoon-description">
          <p>
            A Pontoon a Mozilla szoftvereinek fordításait tartalmazza.
            A magyar fordítás teljes, így csak karbantartási feladatok vannak.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="pontoon-translation">
          <p>
            A fordítási munka az online felületen történik, a fordítót gépi fordítás és fordítómemória segíti.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="pontoon-team">
          Jelenlegi csapat:
          <ul>
            <li>Meskó Balázs &ndash; koordinátor</li>
            <li>Sipos Áron &ndash; fordító</li>
          </ul>
        </div>
      </div>
    </p>
    <p>
      <div>
        <a href="https://translationproject.org/html/welcome.html" class="btn btn-primary">TranslationProject.org &raquo;</a>
        <a href="https://translationproject.org/team/hu.html" class="btn btn-secondary">Honosítási csapat &raquo;</a>
      </div>
    </p>
  </div>
</div>

<hr>

<h2 class="text-center text-md-left">További projektek</h2>

<table class="table table-striped table-sm">
  <thead>
      <tr>
        <th>Projekt</th>
        <th class="d-none d-lg-table-cell">Elérhetőség</th>
        <th>Felelős</th>
      </tr>
  </thead>
  <tbody>
    {{< openscope-project name="0 A.D." href="https://www.transifex.com/wildfire-games/0ad" owner="Meskó Balázs" >}}
    {{< openscope-project name="Andor's Trail" href="https://hosted.weblate.org/languages/hu/andors-trail" owner="Úr Balázs" >}}
    {{< openscope-project name="AntennaPod" href="https://www.transifex.com/antennapod/antennapod" owner="Meskó Balázs" >}}
    {{< openscope-project name="Audacious" href="https://www.transifex.com/audacious/audacious" owner="Meskó Balázs" >}}
    {{< openscope-project name="Audacity" href="https://www.transifex.com/klyok/audacity" owner="Úr Balázs" >}}
    {{< openscope-project name="BinaryEye" href="https://github.com/markusfisch/BinaryEye" owner="Úr Balázs" >}}
    {{< openscope-project name="BlueFish" href="http://bluefish.openoffice.nl/index.html" owner="Úr Balázs" >}}
    {{< openscope-project name="ChatSecure" href="https://www.transifex.com/chrisballinger/chatsecure" owner="Úr Balázs" >}}
    {{< openscope-project name="Clementine" href="https://www.transifex.com/davidsansome/clementine" owner="Meskó Balázs" >}}
    {{< openscope-project name="Clementine Remote" href="https://www.transifex.com/amuttsch/clementine-remote" owner="Meskó Balázs" >}}
    {{< openscope-project name="Conversations" href="https://www.transifex.com/siacs/conversations" owner="Úr Balázs" >}}
    {{< openscope-project name="dash-to-panel" href="https://github.com/home-sweet-gnome/dash-to-panel" owner="Úr Balázs" >}}
    {{< openscope-project name="ejabberd" href="https://github.com/processone/ejabberd" owner="Úr Balázs" >}}
    {{< openscope-project name="Framasoft projektek" href="https://weblate.framasoft.org/" owner="Meskó Balázs" >}}
    {{< openscope-project name="FreeDroidRPG" href="https://www.transifex.com/arctic-games/freedroid-rpg" owner="Meskó Balázs" >}}
    {{< openscope-project name="Gajim" href="https://translate.gajim.org" owner="Úr Balázs" >}}
    {{< openscope-project name="Gramps" href="https://github.com/gramps-project/gramps" owner="Nemeseri Lajos" >}}
    {{< openscope-project name="Inkscape" href="https://gitlab.com/inkscape/inkscape" owner="Gyuris Gellért" >}}
    {{< openscope-project name="K-9 Mail" href="https://www.transifex.com/k-9/k9mail" owner="Úr Balázs" >}}
    {{< openscope-project name="KeePassXC" href="https://www.transifex.com/keepassxc/keepassxc" owner="Meskó Balázs" >}}
    {{< openscope-project name="KeePassXC-Browser" href="https://www.transifex.com/keepassxc/keepassxc-browser" owner="Meskó Balázs" >}}
    {{< openscope-project name="Kodi" href="https://www.transifex.com/teamxbmc/kodi-main" owner="Meskó Balázs" >}}
    {{< openscope-project name="Lexica" href="https://hosted.weblate.org/languages/hu/lexica" owner="Úr Balázs" >}}
    {{< openscope-project name="MATE" href="https://www.transifex.com/mate/MATE" owner="Meskó Balázs" >}}
    {{< openscope-project name="Mumble" href="https://www.transifex.com/mumble/mumble" owner="Úr Balázs" >}}
    {{< openscope-project name="Nextcloud" href="https://www.transifex.com/nextcloud/nextcloud" owner="Meskó Balázs" >}}
    {{< openscope-project name="OpenKeychain" href="https://www.transifex.com/otf/open-keychain" owner="Úr Balázs" >}}
    {{< openscope-project name="OpenLP" href="https://www.transifex.com/openlp" owner="Gyuris Gellért" >}}
    {{< openscope-project name="OpenMediaVault" href="https://www.transifex.com/votdev/openmediavault/" owner="Gyuris Gellért" >}}
    {{< openscope-project name="OpenWrt" href="https://hosted.weblate.org/languages/hu/openwrt" owner="Úr Balázs" >}}
    {{< openscope-project name="OTRS" href="https://www.transifex.com/otrs/OTRS" owner="Úr Balázs" >}}
    {{< openscope-project name="phpMyAdmin" href="https://hosted.weblate.org/languages/hu/phpmyadmin" owner="Úr Balázs" >}}
    {{< openscope-project name="PeerTube" href="https://weblate.framasoft.org/projects/peertube/" owner="Úr Balázs" >}}
    {{< openscope-project name="Pidgin" href="https://www.transifex.com/pidgin/pidgin" owner="Meskó Balázs" >}}
    {{< openscope-project name="po4a" href="https://hosted.weblate.org/languages/hu/po4a" owner="Úr Balázs" >}}
    {{< openscope-project name="qBittorrent" href="https://www.transifex.com/sledgehammer999/qbittorrent" owner="Meskó Balázs" >}}
    {{< openscope-project name="qBittorrent Client" href="https://www.transifex.com/lgallard/qbittorrent-client" owner="Meskó Balázs" >}}
    {{< openscope-project name="Scribus" href="https://www.transifex.com/scribus" owner="Gyuris Gellért" >}}
    {{< openscope-project name="SuperTuxKart" href="https://www.transifex.com/supertuxkart/supertuxkart" owner="Úr Balázs" >}}
    {{< openscope-project name="Syncthing" href="https://www.transifex.com/syncthing/syncthing/" owner="Gyuris Gellért" >}}
    {{< openscope-project name="SyncthingGTK" href="https://www.transifex.com/syncthing-gtk/syncthing-gtk" owner="Gyuris Gellért" >}}
    {{< openscope-project name="TeXstudio" href="https://www.transifex.com/texstudio/texstudio" owner="Meskó Balázs" >}}
    {{< openscope-project name="Tiled" href="https://hosted.weblate.org/languages/hu/tiled" owner="Úr Balázs" >}}
    {{< openscope-project name="tldr" href="https://github.com/tldr-pages/tldr" owner="Úr Balázs" >}}
    {{< openscope-project name="Transmission" href="https://www.transifex.com/transmissionbt/transmissionbt" owner="Meskó Balázs" >}}
    {{< openscope-project name="Transportr" href="https://www.transifex.com/grobox/transportr" owner="Úr Balázs" >}}
    {{< openscope-project name="Unetbootin" href="https://www.transifex.com/gkovacs/unetbootin" owner="Úr Balázs" >}}
    {{< openscope-project name="Vanilla Music" href="https://www.transifex.com/vanilla_music/vanilla-music-1" owner="Meskó Balázs" >}}
    {{< openscope-project name="VLC" href="https://www.transifex.com/yaron/vlc-trans" owner="Meskó Balázs" >}}
    {{< openscope-project name="Vokoscreen" href="https://www.transifex.com/vkohaupt/vokoscreen" owner="Úr Balázs" >}}
    {{< openscope-project name="Weblate" href="https://hosted.weblate.org/languages/hu/weblate" owner="Úr Balázs" >}}
    {{< openscope-project name="Wekan" href="https://www.transifex.com/wekan/wekan" owner="Úr Balázs" >}}
    {{< openscope-project name="Widelands" href="https://www.transifex.com/widelands/widelands" owner="Meskó Balázs" >}}
    {{< openscope-project name="XFCE" href="https://www.transifex.com/xfce" owner="Meskó Balázs" >}}
    <!-- {{< openscope-project name="" href="" owner="" >}} -->
  </tbody>
</table>

{{< scriptref src="assets/js/jquery.min.js" >}}
{{< scriptref src="assets/js/popper.min.js" >}}
{{< scriptref src="assets/js/bootstrap.min.js" >}}
