---
title: "Folyamatban lévő munkák"
date: 2019-06-01T18:45:32+02:00
draft: false
---
<h1 class="text-center text-md-left">
    Folyamatban lévő munkák
    <a href="https://liaiskola.freemyip.com/~urbalazs/kanboard" class="text-info">
        <span style="font-size: 26px; top: 0;" class="glyphicon glyphicon-link"></span>
    </a>
</h1>
<hr>
<iframe style="border: 0;width: 100%;height: calc(100vh - 160px);" src="https://liaiskola.freemyip.com/~urbalazs/kanboard/?controller=BoardViewController&action=readonly&token=94c488e2c31f17ed1737c9951e18a33314d8d853e548e96bcae85a997035"></iframe>