<tr>
    <td>
      <a class="d-lg-none text-info" href="{{ .Get `href` }}">
        {{ .Get `name` }} <i class="glyphicon glyphicon-link"></i>
      </a>
      <span class="d-none d-lg-table-cell">{{ .Get `name` }}</span>
    </td>
    <td class="d-none d-lg-table-cell">
      <a class="text-info" href="{{ .Get `href` }}">{{ .Get `href` }}</a>
    </td>
    <td>{{ .Get `owner` }}</td>
  </tr>