/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v20-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto-v20-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
   url('../fonts/roboto-v20-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../fonts/roboto-v20-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('../fonts/roboto-v20-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
   url('../fonts/roboto-v20-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../fonts/roboto-v20-latin-ext_latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../fonts/roboto-v20-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-ext_latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Kapcsolati gombok */
.btn.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: transparent
}

.btn.btn-telegram {
  color: #ffffff;
  background-color: #0088cc;
  border-color: transparent;
}

.btn.btn-element {
  color: #ffffff;
  background-color: #0dbd8b;
  border-color: transparent;
}

/* Projektoldal */
.project-logos {
  text-align: center;
}

.project-logo {
  padding: 10px;
  max-width: 100%;
}

/* Szójegyzék */
.glossary .openscope-logo {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  text-align: center;
}

.glossary .input-group-text {
  padding: 5px 10px;
}

.glossary .input-group-text img {
  width: 25px;
}

.glossary .input-group-text span {
  padding: 0 3px;
}

.glossary .glossary-item {
  border: 1px solid #dfd7ca;
  border-radius: 5px;
  background-color:#ffffff;
  margin: 5px 15px;
}

.glossary .glossary-item .glossary-title,
.glossary .glossary-item .glossary-comment {
  margin: 10px;
}

.glossary .glossary-item .part-of-speech {
  font-weight: 300;
  font-style: italic;
}

.glossary .glossary-item .badge {
  font-weight: 500;
  font-style: italic;
}

.glossary .glossary-item .badge.badge-general {
  display: none;
}

.glossary .glossary-item .badge.badge-libreoffice {
  background-color: #106802;
  color: #ffffff;
}

.glossary .glossary-item .badge.badge-mozilla {
  background-color: #dc3545;
  color: #ffffff;
}

