/*
Bootstrap mérettartományok:
 - xs: < 576px
 - sm: >= 576px és < 768px
 - md: >= 768px és < 992px
 - lg: >= 992px és < 1200px
 - xl: >= 1200px
*/

@media (max-width: 575.98px) {
  body {
    padding-top: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    padding-top: 110px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}

body {
  background-color: #fff6ee;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header.navbar.fixed-top {
  padding-left: calc((100% - 1140px) / 2);
  padding-right: calc((100% - 1140px) / 2);
}

/* Menüsor */
.navbar.fixed-top .navbar-toggle .icon-bar {
  background-color: White;
}

.navbar.fixed-top .navbar-brand {
  height: 44px;
  padding: 0;
}

.navbar .nav-item .nav-link {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Alap elemek */
hr {
  border-color: lightgray;
}

.btn {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  padding: 12px 16px;
}

/* Bootstrap 3-hoz hasonló lapozók */
.tab-content .tab-pane {
  background-color: White;
  border: 1px solid transparent;
  border-color: transparent #dfd7ca #dfd7ca #dfd7ca;
  padding: 10px 10px 0;
}

.nav-tabs .nav-link {
  background-color: #fafafa;
  border: 1px solid #dee2e6;
}